:root {
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --hero-text-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --accent-color: #4d5ae5;
  --primary-text-font-size: 16px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
  /* display: flex; */
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--primary-font);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid tomato;
}

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}

.visyalli-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* header */
/* heder mobile styles */

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contact {
    display: none;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 22px;
  }

  .mobile-menu-open-icon {
    stroke: #2e2f42;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .mobile-menu-container {
    padding-top: 80px;
    padding-bottom: 40px;
    padding-left: 40px;
  }

  .mobile-menu-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 40px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: var(--accent-color);
  }

  .mobile-menu-close-btn:hover .mobile-menu-close-icon,
  .mobile-menu-close-btn:focus .mobile-menu-close-icon {
    fill: #ffffff;
  }

  .modal-close-icon {
    fill: #000;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
}

/* header tablet styles */

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }

  .page-header {
    padding-top: 24px;
    padding-bottom: 10px;
    border: 1px solid #e7e9fc;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .page-header-container {
    display: flex;
    align-items: center;
  }

  .header-logo {
    display: flex;
    margin-right: 120px;
  }

  .header-logo-web {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .header-logo-studio {
    color: var(--primary-text-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    position: relative;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }

  .current::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    content: "";
    margin-top: 16px;
  }

  .contact {
    margin-left: 118px;
  }

  .contact-mail {
    margin-bottom: 4px;
  }

  .contact-mail,
  .contact-phone-number {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-mail:hover,
  .contact-mail:focus {
    color: var(--accent-color);
  }

  .contact-phone-number:hover,
  .contact-phone-number:focus {
    color: var(--accent-color);
  }
}

/* header desktop style */

@media screen and (min-width: 1200px) {
  .page-header {
    padding-bottom: 24px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .logo {
    margin-right: 76px;
  }

  .header-logo-web {
    line-height: 1.33;
  }

  .header-logo-studio {
    line-height: 1.33;
  }

  .current::after {
    margin-top: 22px;
  }

  .contact {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .contact-mail,
  .contact-phone-number {
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contact-mail {
    margin-right: 40px;
  }
}

/* header mobile menu styles */

.mobile-menu-list {
  margin-bottom: 284px;
}

.mobile-menu-item {
  margin-bottom: 40px;
}

.mobile-menu-link {
  color: var(--primary-text-color);
  font-weight: 700;
  font-family: var(--primary-font);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-link-contacts {
  color: #404bbf;
  font-weight: 700;
  font-family: var(--primary-font);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.mobile-menu-contact-phone-number-item {
  margin-bottom: 40px;
}

.mobile-menu-contact-phone-number {
  color: var(--accent-color);
  font-weight: 600;
  font-family: var(--primary-font);
  font-size: 36px;
  line-height: 1.11;
}

.mobile-menu-contact-mail-item {
  margin-bottom: 48px;
}

.mobile-menu-contact-mail {
  color: #434455;
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-social-list {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover,
.mobile-menu-social-link:focus {
  background-color: #404bbf;
}

.mobile-menu-social-icon {
  fill: #f4f4fd;
}

/* hero */
/* hero mobile styles */

.hero {
  background-color: var(--primary-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../img/hero/mobile-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  height: 432px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/mobile-bg-2x.jpg);
  }
}

.hero-title {
  color: var(--hero-text-color);
  font-weight: 700;
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  width: 318px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.modal-btn {
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: var(--primary-text-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  min-width: 170px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
  background-color: var(--hero-text-color);
}

@media screen and (min-width: 480px) {
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/tablet-bg.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero/tablet-bg-2x.jpg);
    }
  }
}

/* hero tablet styles */

@media screen and (min-width: 768px) {
  .hero {
    margin: 0 auto;
    padding-top: 112px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/desktop-bg.jpg);
    max-height: 436px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero/desktop-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 50px;
    line-height: 1.07;
    width: 494px;
    height: 120px;
    margin-bottom: 40px;
  }
}

/* hero desktop styles */

@media screen and (min-width: 1200px) {
  .hero {
    margin: 0 auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../img/hero/desktop-bg.jpg);
    max-width: 1440px;
    height: 100%;
    max-height: 600px;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../img/hero/desktop-bg-2x.jpg);
    }
  }

  .hero-title {
    font-size: 50px;
    line-height: 1.07;
    width: 496px;
    height: 120px;
    margin-bottom: 48px;
  }
}

/* goals and benefits */
/* goals and benefits mobile styles */

@media screen and (max-width: 767px) {
  .goals-and-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .goals-and-benefits-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .goals-and-benefits-link {
    display: none;
  }

  .goals-and-benefits-title {
    display: flex;
    justify-content: center;
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .goals-and-benefits-text {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 396px;
  }
}

/* goals and benefits tablet styles */

@media screen and (min-width: 768px) {
  .goals-and-benefits {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .goals-and-benefits-link {
    display: none;
  }

  .goals-and-benefits-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 72px;
  }

  .goals-and-benefits-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .goals-and-benefits-text {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 355px;
  }
}

/* goals and benefits desktop styles  */

@media screen and (min-width: 1200px) {
  .goals-and-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .goals-and-benefits-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 24px;
  }

  .goals-and-benefits-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .goals-and-benefits-link:hover,
  .goals-and-benefits-link:focus {
    border: 1px solid #4d5ae5;
  }

  .goals-and-benefits-link:hover .goals-and-benefits-icon,
  .goals-and-benefits-link:focus .goals-and-benefits-icon {
    fill: #4d5ae5;
  }

  .goals-and-benefits-title {
    color: var(--primary-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .goals-and-benefits-text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
  }
}

/* what are we doing */
/* what are we doing mobile styles */
/* what are we doing tablet styles */

@media screen and (max-width: 1199px) {
  .what-are-we-doing {
    display: none;
  }
}
/* what are we doing desktop styles */

@media screen and (min-width: 1200px) {
  .what-are-we-doing {
    padding-bottom: 120px;
  }

  .what-are-we-doing-title {
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .what-are-we-doing-images {
    display: flex;
    justify-content: space-between;
  }
}

/* our team */
/* our team mobile styles */

@media screen and (max-width: 767px) {
  .our-team-background {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team {
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .our-team-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
  }

  .foto-background {
    background-color: var(--hero-text-color);
  }

  .card-team {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .explanation-for-cards-studio {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .name-team {
    color: var(--primary-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .job-title {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .name-team,
  .job-title {
    text-align: center;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .social-icon {
    fill: #f4f4fd;
  }
}

/* our team tablet styles */

@media screen and (min-width: 768px) {
  .our-team-background {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .our-team {
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .our-team-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 64px;
  }

  .foto-background {
    background-color: var(--hero-text-color);
  }

  .card-team {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .explanation-for-cards-studio {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .name-team {
    color: var(--primary-text-color);
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .job-title {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .name-team,
  .job-title {
    text-align: center;
  }

  .social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }

  .social-icon {
    fill: #f4f4fd;
  }
}

/* our team desktop styles */

@media screen and (min-width: 1200px) {
  .our-team-background {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-images {
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 24px;
  }
}

/* customers */
/* customers mobile styles */

@media screen and (max-width: 767px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .title-customers {
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
  }

  .customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-link:hover,
  .customers-link:focus {
    border: 1px solid #4d5ae5;
  }

  .customers-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-link:hover .customers-icon,
  .customers-link:focus .customers-icon {
    fill: #4d5ae5;
  }
}

/* customers tablet styles */

@media screen and (min-width: 768px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .title-customers {
    color: var(--primary-text-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-link:hover,
  .customers-link:focus {
    border: 1px solid #4d5ae5;
  }

  .customers-icon {
    fill: #8e8f99;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .customers-link:hover .customers-icon,
  .customers-link:focus .customers-icon {
    fill: #4d5ae5;
  }
}

/* customers desktop styles */

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

/* portfolio */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-nav {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
}

.portfilio-label {
  margin-right: 24px;
}

.portfolio-nav-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav-link:hover,
.portfolio-nav-link:focus {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(46, 47, 66, 0.08), 0px 3px 1px rgba(46, 47, 66, 0.1);
}

.filter-btn-active {
  color: var(--hero-text-color);
  background-color: #404bbf;
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: var(--primary-text-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px 12px 24px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn-active:hover,
.filter-btn-active:focus {
  color: #404bbf;
  background-color: var(--hero-text-color);
}

.filter-btn {
  color: var(--accent-color);
  background-color: #f4f4fd;
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: var(--primary-text-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px 12px 24px;
  border: none;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--hero-text-color);
  background-color: #404bbf;
}

/* <!--portfolio work--> */

.portfolio-images {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 48px;
}

.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-link {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 40px 32px 164px 32px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.overlay-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: var(--primary-text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 296px;
}

.explanation-for-cards-portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid #e7e9fc;
}

.portfolio-industry {
  color: var(--primary-text-color);
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-service {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: var(--primary-text-font-size);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */
/* footer mobile styles */

@media screen and (max-width: 767px) {
  .footer {
    background-color: var(--primary-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-logo {
    margin-bottom: 72px;
  }

  .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }

  .footer-logo-web {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .footer-logo-studio {
    color: #f4f4fd;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .call-to-action {
    color: var(--footer-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 268px;
    margin: 0 auto;
  }

  .social-media {
    margin-bottom: 72px;
  }

  .footer-social-media {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: #f4f4fd;
  }

  .subscribe-title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .subscribe-input {
    width: 396px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
  }

  .subscribe-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  .subscribe-input::placeholder {
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .modal-button-subscribe {
    display: flex;
    justify-content: center;
  }

  .subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:focus,
  .subscribe-button:hover {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
  }

  .subscribe-icon {
    margin-left: 16px;
  }
}

/* footer tablet styles */

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer {
    background-color: var(--primary-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo {
    margin-left: 92px;
    margin-bottom: 72px;
  }

  .footer-logo-web {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .footer-logo-studio {
    color: #f4f4fd;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .call-to-action {
    color: var(--footer-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
  }

  .social-media {
    margin-left: 24px;
  }

  .footer-social-media {
    color: #ffffff;
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: #f4f4fd;
  }

  .subscribe-footer {
    margin-left: 92px;
  }

  .subscribe-title {
    color: #ffffff;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .subscribe-label {
    display: flex;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  .subscribe-input::placeholder {
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .modal-button-subscribe {
    display: flex;
  }

  .subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:focus,
  .subscribe-button:hover {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
  }

  .subscribe-icon {
    margin-left: 16px;
  }
}

/* footer desktop styles */

@media screen and (min-width: 1200px) {
  .footer {
    background-color: var(--primary-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-container {
    display: flex;
  }

  .footer-logo-web {
    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .footer-logo-studio {
    color: #f4f4fd;
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }

  .call-to-action {
    color: var(--footer-text-color);
    font-weight: 400;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    margin-top: 16px;
  }

  .footer-social-media {
    color: #ffffff;
    font-weight: 500;
    font-family: var(--primary-font);
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .social-media {
    margin-left: 120px;
  }

  .footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: #f4f4fd;
  }

  .subscribe-footer {
    margin-left: 80px;
  }

  .subscribe-title {
    color: #ffffff;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
  }

  .subscribe-label {
    display: flex;
  }

  .subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-input:focus {
    outline: none;
    border: 1px solid var(--accent-color);
  }

  .subscribe-input::placeholder {
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
  }

  .modal-button-subscribe {
    display: flex;
  }

  .subscribe-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: var(--primary-text-font-size);
    line-height: 1.5;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    margin-left: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .subscribe-button:focus,
  .subscribe-button:hover {
    background-color: #404bbf;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    outline: none;
  }

  .subscribe-icon {
    margin-left: 16px;
  }
}

/* modal.js */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%, -50%) scalex(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scalex(0);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--accent-color);
}

.modal-close:hover .modal-close-icon,
.modal-close:focus .modal-close-icon {
  fill: #ffffff;
}

.modal-close-icon {
  fill: #000;
}

/* modal-form */

.modal-form {
  display: flex;
  flex-direction: column;
}

.call-to-fill {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-input-desc {
  display: block;
  color: #8e8f99;
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translatey(-50%);
  display: block;
  width: 18px;
  height: 24px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  resize: none;
  outline: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.modal-form-message:focus {
  border-color: var(--accent-color);
}

.modal-form-check-desc {
  color: #757575;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-family: var(--primary-font);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.modal-link {
  color: #4d5ae5;
  margin-left: 4px;
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  border: none;
  background-image: url(../img/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  fill: #f4f4fd;
  cursor: pointer;
}

.modal-form-submit {
  align-self: center;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-family: var(--primary-font);
  font-size: var(--primary-text-font-size);
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  color: var(--accent-color);
  background-color: var(--hero-text-color);
}
